.menu__btn {
    display: flex;
        justify-content: center;
        align-items: center;
    
        width: 40px;
        height: 40px;
        padding: 0;
    
        background-color: transparent;
        border: none;
        cursor: pointer;
    
        margin-left: auto;
        transition: fill var(--animation);

        &:hover,
            :focus {
                fill: var(--blue-color-txt);
            }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu {
    position: fixed;
        top: 0;
        left: 0;
    
    
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 40px 48px;
    
        background-color: #fff;
    
        transform: translateX(100%);
        transition: transform 2000ms;

        @media screen and (min-width: 768px) {
                display: none;
            }
    
    
        &.is-open {
            transform: translateX(0);
        }
}

.menu__toggle {
    display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 0;
        border: none;
        background-color: #fff;
        cursor: pointer;
        fill: var(--black-color-txt);
        transition: fill var(--animation);
        &:hover,
            :focus {
                fill: var(--blue-color-txt);
            }
}

.menu__list {
    margin-bottom: auto;
}

.menu__item {
    font-weight: 700;
        font-size: 35px;
        line-height: calc(47/35);
        letter-spacing: 0.02em;
        margin-bottom: 32px;
    
        color: var(--black-color-txt);
        transition: color var(--animation);
        
            &:hover,
            :focus {
                color: var(--blue-color-txt);
            }
        
}

.menu__link {
}

.menu__socials {
    font-weight: 500;
        font-size: 20px;
        line-height: calc(35/20);
        letter-spacing: 0.02em;
        margin-bottom: 32px;
    color: var(--socials-color-txt);
}

.menu__socials-icon {
    
    fill: var(--socials-color-txt)
}
