.menu__btn {
    display: flex;
        justify-content: center;
        align-items: center;
    
        width: 40px;
        height: 40px;
        padding: 0;
    
        background-color: transparent;
        border: none;
        cursor: pointer;
    
        margin-left: auto;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu {
    position: fixed;
        top: 0;
        left: 0;
    
    
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 40px 48px;
    
        background-color:beige;
    
        transform: translateX(100%);
        transition: transform 2000ms;

        @media screen and (min-width: 768px) {
                display: none;
            }
    
    
        &.is-open {
            transform: translateX(0);
        }
}

.menu__toggle {
    display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 0;
        border: none;
        background-color:aquamarine;
        cursor: pointer;
        fill: black
}

.menu__list {}

.menu__item {}

.menu__link {}

.menu__socials {}
