:root {
    /* Fonts */
        --main-font: 'Merriweather', sans-serif;

        // color
        --blue-color-txt: #1e1e8b;
        --black-color-txt: #000;
        --socials-color-txt: rgb(32, 52, 229);

        // animation
        --animation: 250ms;
}