.header {
        padding: 10px;
}

.header__box {
@media screen and (min-width:1200px) {
        display: flex;
            align-items: center;
            gap: 8px;
    }
    
}

.header__container {
    display: flex;
    align-items: flex-start;

    @media screen and (min-width:768px) {
    align-items: center;
    }
}

.header__logo {

    @media screen and (min-width:768px) {
        display: block;
            width: 180px;
                height: 90px;
                margin-right: auto;
                    margin-left: auto;
        }

                 @media screen and (min-width:1200px) {
                    display: block;
                        width: 180px;
                        height: 90px;
                 }
}

.header__name {
    font-weight: 900;
        font-size: 12px;
        line-height: calc(30/12);
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--blue-color-txt);

        @media screen and (min-width:1200px) {
                font-size: 20px;
            }
}

.nav {
    margin-left: auto;

    @media screen and (max-width: 767px) {
            display: none;
        }

}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.nav__item {
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        transition: color var(--animation);
    
    color: var(--black-color-txt);
    
        &:hover,
        :focus {
            color: var(--blue-color-txt);}

            @media screen and (min-width:1200px) {
                font-size: 20px;
            }
            
}

.nav__link {
    padding-top: 32px;
    padding-bottom: 32px;

}

.nav__link-icon{
    fill: #fff;
    background-color: var(--blue-color-txt);
}