.header {
}

.header__box {}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {}

.header__name {}

.nav {
    margin-left: auto;

    @media screen and (max-width: 767px) {
            display: none;
        }

}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.nav__item {}

.nav__link {}